//Colors
$bg-color: rgba(237, 235, 232, 1);
$dark-font: #54645d;
$dark-bg: #525050;

//Fonts
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,600|Open+Sans&display=swap");
$header-font: "Open Sans", sans-serif;
$hero-font: "Comfortaa", sans-serif;
