// Breakpoints
//Style for mobile first then add eg @include breakpoint(large){} for large screens etc
// $breakpoints: (
//   small: 499px,
//   medium: 699px,
//   large: 999px,
//   xlarge: 1399px
// );

// @mixin breakpoint($size) {
//   $breakpoint-value: map-get($breakpoints, $size);

//   @media screen and (min-width: $breakpoint-value) {
//     @content;
//   }
// }

//Mobile screens
@media screen and (max-width: 664px) {
  //Navbar och header
  header {
    .menu-icon {
      display: inline-block;
      height: 90px;
    }

    a:not(.logo-link) {
      color: $bg-color;
    }

    .logo {
      position: fixed;
      top: 0;
      margin: 5px 0 0 1em;
      img {
        height: 100px;
      }
    }
  }

  nav ul {
    max-height: 0px;
    background: $dark-font;
    margin: 0;
    color: $bg-color;
  }

  nav.black ul {
    background: $dark-bg;
  }

  .showing {
    max-height: 20em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  //Presentation
  .p-wrapper {
    flex-direction: column;
    min-height: fit-content;
    margin-top: 1em;

    .presentation-text {
      width: 90%;
      margin: 1em auto;
      padding: 2em;
    }
  }
}
