.presentation {
  width: 100%;
  background: $bg-color;
  background: linear-gradient(
    to right bottom,
    $bg-color 50%,
    darken($bg-color, 5) 50%
  );
}

.p-wrapper {
  margin: 2em auto 0;
  width: 70%;
  display: flex;
  align-items: center;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  .presentation-image {
    flex-basis: 60%;

    @media screen and (max-width: 1000px) {
      flex-basis: 100%;
    }
    @media screen and (max-width: 800px) {
      max-width: 50%;
    }

    img {
      max-width: 100%;
      border-radius: 50%;
    }
  }

  .presentation-text {
    background-color: darken($bg-color, 5);
    box-shadow: 20px 20px 7px -10px rgba(219, 215, 209, 1);
    padding: 3em;
    flex-basis: 100%;
    margin-left: 2em;
    text-align: justify;
    font-family: $header-font;
    line-height: 1.5;
  }
}
