@import "config";
@import "header";
@import "presentation";
@import "cv";
@import "projects";
@import "contact";
@import "cv";
@import "footer";
@import "mixins";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: $bg-color;
}

section {
  min-height: 100vh;
  margin: 0 auto;
  .section-heading {
    margin: auto;
    width: 30%;
    padding-top: 5em;
    text-align: center;
    font-family: $hero-font;
    text-transform: uppercase;
    color: $dark-font;
    border-bottom: 1px solid $dark-font;
  }
}
